button{
    color: black;
    border: none;
    border-radius: 5px;
   margin-left: 60px;

}
input{
    color: black;
}
#quote{
    height: 80px;
    margin-bottom: 20px;
}
#concoctor{
    margin-bottom: 20px;
}
