<div class="container-fluid">
  <div class="form-input">
    <h1 id="add_quote">
      Add new quote
      <hr />
    </h1>
    <form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
      <label for="name">Quote:</label><br />
      <input
        type="text"
        name="quote"
        id="quote"
        [(ngModel)]="newQuote.quote"
        #quote="ngModel" placeholder="type your quote here."
      /><br />

      <label for="name">Concoctor:</label><br />
      <input
        type="text"
        name="concoctor"
        id="concoctor"
        [(ngModel)]="newQuote.concoctor"
        #concoctor="ngModel" placeholder="type your name here"
      /><br />

      <label for="name">Author:</label><br />
      <input
        type="text"
        name="author"
        id="author"
        [(ngModel)]="newQuote.author"
        #author="ngModel" placeholder="author's name here"
      /><br /><br />
      <hr />

      <button>ADD</button>
    </form>
  </div>
</div>
