/* *{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
.container{
    background-image: url('../../src/assets/images/nature.jpeg');
    background-repeat: no-repeat;
    background-position: center fixed;
    background-size: cover;
}
.container p{
    background-color: blue;
}